//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&lt {
    tapping-term-ms = <180>;
    flavor = "balanced";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <160>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    macros {
        select_jump_left: select_jump_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT &kp LEFT_CONTROL &kp LEFT_ARROW>;
            label = "SELECT_JUMP_LEFT";
        };

        select_jump_right: select_jump_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT &kp LEFT_CONTROL &kp RIGHT_ARROW>;
            label = "SELECT_JUMP_RIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
            &kp Q           &kp W            &kp E               &kp R             &kp T        &kp Y      &kp U             &kp I               &kp O           &kp P
            &hm LEFT_GUI A  &hm RIGHT_ALT S  &hm LEFT_CONTROL D  &hm LEFT_SHIFT F  &kp G        &kp H      &hm LEFT_SHIFT J  &hm LEFT_CONTROL K  &hm LEFT_ALT L  &hm RIGHT_ALT SEMICOLON
&kp ESCAPE  &kp Z           &kp X            &kp C               &kp V             &kp B        &kp N      &kp M             &kp COMMA           &kp DOT         &kp SLASH                &to 6
                                             &lt 3 ESCAPE        &lt 1 SPACE       &lt 4 TAB    &lt 4 RET  &lt 5 BACKSPACE   &lt 2 DELETE
            >;
        };

        Num {
            bindings = <
       &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_NEXT    &kp PLUS      &kp N7  &kp N8   &kp N9  &kp MINUS
       &kp LC(Z)       &kp LC(X)          &kp LC(C)         &kp LC(V)        &kp LC(Y)     &kp ASTERISK  &kp N4  &kp N5   &kp N6  &kp SLASH
&none  &none           &none              &kp PRINTSCREEN   &none            &none         &kp CARET     &kp N1  &kp N2   &kp N3  &none      &none
                                          &none             &trans           &none         &kp EQUAL     &kp N0  &kp DOT
            >;

            label = "Num";
        };

        SymL {
            bindings = <
       &kp EXCLAMATION  &kp AT_SIGN     &kp HASH   &kp DOLLAR       &kp PERCENT         &none  &none           &none             &none         &none
       &kp LESS_THAN    &kp LEFT_BRACE  &kp TILDE  &kp RIGHT_BRACE  &kp GREATER_THAN    &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&none  &none            &none           &none      &none            &none               &none  &none           &none             &none         &none         &none
                                        &none      &kp UNDERSCORE   &none               &none  &none           &trans
            >;
        };

        SymR {
            bindings = <
       &none         &none         &none             &none           &none    &kp QUESTION  &kp AMPERSAND         &kp DOUBLE_QUOTES      &kp SINGLE_QUOTE   &kp UNDER
       &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none    &kp CARET     &kp LEFT_BRACKET      &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp COLON
&none  &none         &none         &none             &none           &none    &none         &none                 &none                  &none              &none      &none
                                   &trans            &none           &none    &none         &kp LEFT_PARENTHESIS  &none
            >;
        };

        Fun {
            bindings = <
       &kp MINUS  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS        &kp F11       &kp F7  &kp F8  &kp F9  &kp F10
       &kp N0     &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp ASTERISK    &kp CAPSLOCK  &kp F4  &kp F5  &kp F6  &kp LEFT_ALT
&none  &kp DOT    &kp N7        &kp N8        &kp N9        &none           &none         &kp F1  &kp F2  &kp F3  &kp F12       &none
                                &none         &none         &trans          &trans        &none   &none
            >;

            label = "Fun";
        };

        Nav {
            label = "Nav";
            bindings = <
       &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_NEXT    &none  &select_jump_left            &kp C_KEYBOARD_INPUT_ASSIST_NEXT_GROUP  &kp C_KEYBOARD_INPUT_ASSIST_PREVIOUS_GROUP  &select_jump_right
       &kp LC(Z)       &kp LC(X)          &kp LC(C)         &kp LC(V)        &kp LC(Y)     &none  &mt LEFT_CONTROL LEFT_ARROW  &kp DOWN_ARROW                          &kp UP_ARROW                                &mt LEFT_CONTROL RIGHT_ARROW
&none  &none           &none              &kp PRINTSCREEN   &none            &none         &none  &kp C_AC_HOME                &kp END                                 &none                                       &none                         &none
                                          &none             &kp DELETE       &none         &none  &trans                       &none
            >;
        };

        Sai {
            bindings = <
       &kp LC(Z)     &kp LC(X)     &kp LC(C)         &kp LC(V)       &kp LC(Y)    &none  &none  &none  &none  &none
       &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none        &none  &none  &none  &none  &none
&none  &none         &none         &none             &none           &none        &none  &none  &none  &none  &none  &to 0
                                   &kp DELETE        &kp SPACE       &mo 1        &none  &to 7  &none
            >;
        };

        Gamink {
            bindings = <
         &kp TAB       &kp Q  &kp NUMBER_3  &kp E      &kp R               &none  &none     &none     &none      &none
         &kp LSHFT     &kp A  &kp W         &kp D      &kp F               &none  &kp LEFT  &kp UP    &kp RIGHT  &none
&kp ESC  &kp CAPSLOCK  &kp Z  &kp S         &kp C      &kp V               &none  &none     &kp DOWN  &none      &none  &to 0
                              &kp X         &kp SPACE  &kp LEFT_CONTROL    &none  &mo 1     &none
            >;
        };
    };
};
