//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&lt {
    tapping-term-ms = <180>;
    flavor = "balanced";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <160>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
            &kp Q           &kp W            &kp E               &kp R             &kp T        &kp Y      &kp U             &kp I               &kp O           &kp P
            &hm LEFT_GUI A  &hm RIGHT_ALT S  &hm LEFT_CONTROL D  &hm LEFT_SHIFT F  &kp G        &kp H      &hm LEFT_SHIFT J  &hm LEFT_CONTROL K  &hm LEFT_ALT L  &hm RIGHT_ALT SEMICOLON
&kp ESCAPE  &kp Z           &kp X            &kp C               &kp V             &kp B        &kp N      &kp M             &kp COMMA           &kp DOT         &kp SLASH                &to 5
                                             &kp ESCAPE          &lt 1 SPACE       &lt 3 TAB    &lt 2 RET  &lt 4 BACKSPACE   &kp DELETE
            >;
        };

        Num {
            bindings = <
       &none      &kp C_PREV         &kp C_PLAY_PAUSE  &kp C_NEXT         &none        &kp PLUS      &kp N7  &kp N8   &kp N9  &kp MINUS
       &kp LC(Z)  &kp LC(X)          &kp LC(C)         &kp LC(V)          &kp LC(Y)    &kp ASTERISK  &kp N4  &kp N5   &kp N6  &kp SLASH
&none  &none      &kp C_VOLUME_DOWN  &kp PRINTSCREEN   &kp C_VOLUME_DOWN  &none        &kp CARET     &kp N1  &kp N2   &kp N3  &none      &none
                                     &none             &trans             &none        &kp EQUAL     &kp N0  &kp DOT
            >;

            label = "Num";
        };

        SymL {
            bindings = <
        &kp EXCLAMATION  &kp AT_SIGN     &kp HASH   &kp DOLLAR       &kp PERCENT         &none  &none           &none             &none         &none
        &kp LESS_THAN    &kp LEFT_BRACE  &kp TILDE  &kp RIGHT_BRACE  &kp GREATER_THAN    &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&kp F1  &kp F2           &kp F3          &kp F4     &kp F5           &kp F6              &none  &none           &none             &none         &none         &none
                                         &none      &none            &none               &none  &none           &trans
            >;
        };

        SymR {
            bindings = <
       &none         &none         &none             &none           &none    &kp QUESTION   &kp AMPERSAND         &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE   &kp UNDER
       &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none    &kp BACKSLASH  &kp LEFT_BRACKET      &kp COLON          &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS
&none  &none         &none         &none             &none           &none    &kp F7         &kp F8                &kp F9             &kp F10            &kp F11                &kp F12
                                   &trans            &none           &none    &none          &kp LEFT_PARENTHESIS  &none
            >;
        };

        Nav {
            label = "Nav";
            bindings = <
       &none         &none         &none             &none           &none    &none  &kp HOME  &kp PAGE_DOWN   &kp PAGE_UP   &kp END
       &kp LEFT_GUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &kp LEFT_SHIFT  &none    &none  &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT_ARROW
&none  &none         &none         &none             &none           &none    &none  &none     &none           &none         &none            &none
                                   &none             &none           &none    &none  &trans    &none
            >;
        };

        Gamink {
            bindings = <
         &kp TAB       &kp Q  &kp NUMBER_3  &kp E      &kp R               &none  &none     &none     &none      &none
         &kp LSHFT     &kp A  &kp W         &kp D      &kp F               &none  &kp LEFT  &kp UP    &kp RIGHT  &none
&kp ESC  &kp CAPSLOCK  &kp Z  &kp S         &kp C      &kp V               &none  &none     &kp DOWN  &none      &none  &to 0
                              &kp X         &kp SPACE  &kp LEFT_CONTROL    &none  &mo 1     &none
            >;
        };
    };
};
