//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Media       1
#define Nav         2
#define Mouse       3
#define Sym         4
#define Num         5
#define Fun         6
#define Button      7
#define Game        8
#define Gameplus    9

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            label = "Base";
            bindings = <
          &kp Q           &kp W            &kp E               &kp R             &kp T          &kp Y         &kp U             &kp I               &kp O           &kp P
          &hm LEFT_GUI A  &hm RIGHT_ALT S  &hm LEFT_CONTROL D  &hm LEFT_SHIFT F  &kp G          &kp H         &hm LEFT_SHIFT J  &hm LEFT_CONTROL K  &hm LEFT_ALT L  &hm LEFT_GUI SEMICOLON
&kp CAPS  &kp Z           &kp X            &kp C               &kp V             &kp B          &kp N         &kp M             &kp COMMA           &kp DOT         &kp SLASH               &none
                                           &lt 3 ESCAPE        &lt 1 TAB         &lt 2 SPACE    &lt 5 RETURN  &lt 4 BACKSPACE   &kp DELETE
            >;
        };

        Num {
            bindings = <
       &none           &none              &none             &none            &none         &kp LBKT   &kp N7  &kp N8   &kp N9  &kp RBKT
       &kp C_PREVIOUS  &kp C_VOLUME_DOWN  &kp C_PLAY_PAUSE  &kp C_VOLUME_UP  &kp C_NEXT    &kp SEMI   &kp N4  &kp N5   &kp N6  &kp EQUAL
&none  &none           &kp LA(F4)         &kp F11           &kp F5           &none         &kp APOS   &kp N1  &kp N2   &kp N3  &kp FSLH   &none
                                          &none             &trans           &none         &kp MINUS  &kp N0  &kp DOT
            >;

            label = "Num";
        };

        Sym-Edit {
            bindings = <
       &none      &none      &kp PRINTSCREEN  &none      &none        &kp LEFT_BRACE  &kp AMPERSAND         &kp ASTERISK           &kp LEFT_PARENTHESIS  &kp RIGHT_BRACE
       &kp LC(Z)  &kp LC(X)  &kp LC(C)        &kp LC(V)  &kp LC(Y)    &kp COLON       &kp DOLLAR            &kp PERCENT            &kp CARET             &kp PLUS
&none  &none      &none      &none            &none      &none        &kp TILDE       &kp EXCLAMATION       &kp AT_SIGN            &kp HASH              &kp PIPE         &none
                             &none            &none      &trans       &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS
            >;

            label = "Sym-Edit";
        };

        Fun {
            bindings = <
       &none  &none  &none   &none  &none    &kp PRINTSCREEN  &kp F8  &kp F9  &kp F10  &kp F12
       &none  &none  &none   &none  &none    &kp SCROLLLOCK   &kp F5  &kp F6  &kp F7   &kp F11
&none  &none  &none  &none   &none  &none    &kp PAUSE_BREAK  &kp F1  &kp F2  &kp F3   &kp F10  &none
                     &trans  &none  &none    &none            &none   &none
            >;

            label = "Fun";
        };

        Nav {
            bindings = <
       &kp LC(Z)       &kp LC(X)     &kp LC(C)       &kp LC(V)   &kp LC(Y)       &none  &none           &none             &none         &none
       &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN_ARROW  &kp RIGHT   &kp CAPSLOCK    &none  &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&none  &kp END         &kp PAGE_UP   &kp PAGE_DOWN   &kp HOME    &kp INSERT      &none  &none           &none             &none         &none         &none
                                     &none           &kp DELETE  &none           &none  &trans          &none
            >;

            label = "Nav";
        };

        NavAlt {
            bindings = <
       &kp LC(Z)           &kp LC(X)     &kp LC(C)       &kp LC(V)      &kp LC(Y)       &none   &none           &none             &none         &none
       &kp LC(LEFT_ARROW)  &kp UP_ARROW  &kp DOWN_ARROW  &kp LC(RIGHT)  &kp CAPSLOCK    &none   &kp LEFT_SHIFT  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_GUI
&none  &kp END             &kp PAGE_UP   &kp PAGE_DOWN   &kp HOME       &kp INSERT      &none   &none           &none             &none         &none         &none
                                         &none           &kp DELETE     &none           &trans  &none           &none
            >;

            label = "NavAlt";
        };
    };
};
